<h3>
	<div [ngSwitch]="operation">
		<span *ngSwitchCase="'details'">Reading panel</span>
		<span *ngSwitchCase="'create'">Adding panel</span>
		<span *ngSwitchCase="'edit'">Editing panel</span>
	</div>
</h3>
<div>
	<form (ngSubmit)="onSubmit()" [formGroup]="form">
		<div *ngFor="let field of vmDefinition">
			<spa-dynamic-field [field]="field" [form]="form" [operation]="operation" [submitted]="submitted">
			</spa-dynamic-field>
			<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
			<div *ngIf="status !== 'waiting'">
				<div *ngIf="operation === 'details'">
					<button type="button" (click)="onBack()" class="btn btn-primary">Back</button>
					<button type="button" (click)="onEdit()" class="btn btn-success">Edit</button>
				</div>
				<div *ngIf="operation === 'edit'">
					<button type="button" (click)="onCancel()" class="btn btn-primary">Cancel</button>
					<button type="button" (click)="onSave()" class="btn btn-success">Save</button>
				</div>
				<div *ngIf="operation === 'create'">
					<button type="button" (click)="onBack()" class="btn btn-primary">Back</button>
					<button type="button" (click)="onCreate()" class="btn btn-success">Create</button>
				</div>
			</div>
			<div *ngIf="status === 'waiting'">
				Waiting ...
			</div>
		</div>
	</form>
</div>